<div>
    <ul>
        <li *ngFor="let list of dataSource; let i=index" 
        (mouseenter)="onMouseEnter(i)" 
        (mouseleave)="onMouseLeave(i)"
         >
            <i *ngIf="!list.isExpanded" class="anticon anticon-caret-right prearrow" (click)="expand(list.isExpanded,i)"></i>
            <i *ngIf="list.isExpanded" class="anticon anticon-caret-down prearrow" (click)="expand(list.isExpanded,i)"></i>
            <i class="{{list.icon}} iconsize" [style.margin-left]="list.icon=='' ? '15px':'0px'"></i>
            <label [class.feifei]="vcCheckable"  class="hovercolor" nz-checkbox [style.color]="list.state==1 ? '#01aaf9':(list.state==2 ? '#096dd9':'#8f8f8f')"
                [(ngModel)]="list.checked" (click)="itemischecked($event,list.checked,list.value,i,list.showoptionbtn,list.isExpanded,list)">{{list.label}}</label>
            <i *ngIf="list.showoptionbtn" class="anticon anticon-delete optionbtn" (click)="deletenode($event,i,list)"></i>
            <i *ngIf="list.showoptionbtn" class="anticon anticon-edit optionbtn" (click)="editnode($event,i,list,-1)"></i>
            <ul *ngIf="list.isExpanded" [@fadeoutandin]="list.isExpanded" style="margin-left:15px;">
                <li *ngFor="let clist of list.children;let ci=index" 
                (mouseenter)="onchildMouseEnter(i,ci)" 
                (mouseleave)="onchildMouseLeave(i,ci)">
                    <!-- <i class="{{clist.icon}} iconsize" [style.margin-left]="clist.icon=='' ? '15px':'0px'"></i> -->
                    <label [class.feifei]="vcCheckable"  [style.color]="clist.state==1 ? '#01aaf9':(clist.state==2 ? '#096dd9':'#8f8f8f')" class="hovercolor" nz-checkbox
                        [(ngModel)]="clist.checked" (click)="childitemischecked($event,clist.checked,clist.value,i,clist.showoptionbtn,ci,clist)">{{clist.label}}</label>
                    <i *ngIf="clist.showoptionbtn" class="anticon anticon-delete optionbtn" (click)="deletenode($event,ci,clist)"></i>
                    <i *ngIf="clist.showoptionbtn" class="anticon anticon-edit optionbtn" (click)="editnode($event,i,clist,i)"></i>
                </li>
            </ul>
        </li>
    </ul>
</div>