<div class="container">
  <div class="wrap">
    <div class="top">
      <img class="logo" src="./assets/img/logo-full.svg">
      <div class="head">

        <span class="title">苏州利华-智能制造MES系统（beta）</span>
      </div>
      <div class="desc">创游云积木，智能制造领军软件系统</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2017
      <a href="//szcyerp.com" target="_blank">创游科技</a>出品
    </global-footer>
  </div>

</div>