
<nz-card style="width:100%;"  nzTitle="你的项目">
  
<div nz-row>
        <div nz-col nzSpan="6" class="leftarea" style="text-align: center;height:500px;border-right: solid 1px rgb(222, 222, 222);padding-top:10px;">
                <button nz-button (click)="creatNewProj()" nzType="primary"><i class="anticon anticon-plus"></i>新建项目</button>
        </div>
        <div nz-col nzSpan="18"  class="rightarea" style="text-align: center;height:500px;padding:20px;">
                <h3>你的项目</h3>
                <div class="demo-infinite-container"
                infiniteScroll
                [infiniteScrollDistance]="2"
                [infiniteScrollThrottle]="50"
                (scrolled)="onScroll()"
                [scrollWindow]="false">
                <nz-list [nzDataSource]="data" [nzRenderItem]="item">
                  <ng-template #item let-item>
                    <nz-list-item [nzActions]="[editAction,deleteAction]">
                        <ng-template #editAction><a (click)="edit(item)">编辑</a></ng-template>
                        <ng-template #deleteAction><a (click)="delete(item)">删除</a></ng-template>
                      <nz-list-item-meta
                          [nzTitle]="nzTitle"
                          nzAvatar="http://a1.att.hudong.com/47/32/01300001128119146475327102551.jpg"
                          [nzDescription]="nzCreate">
                          <ng-template #nzTitle>
                              <a (click)="getDomain(item.cySysProjectServerDomainName)">{{item.cySysProjectName}}  </a>
                          </ng-template>
                          <ng-template #nzCreate>
                            <a (click)="getDomain(item.cySysProjectServerDomainName)">{{item.cySysBaseUserCreateTime | date:'yyyy-MM-dd HH:mm:ss'}}  </a>
                        </ng-template>
                      </nz-list-item-meta>
                    </nz-list-item>
                  </ng-template>
                  <nz-spin *ngIf="loading && hasMore" class="demo-loading"></nz-spin>
                </nz-list>
              </div>
        </div>
      </div>
      
    </nz-card>
