<page-header   class="content__title">
    <nz-breadcrumb *ngIf="userProject">
        <nz-breadcrumb-item>
          <a routerLink="/options/addproj">首页</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          项目配置
        </nz-breadcrumb-item>
      </nz-breadcrumb>

      <nz-breadcrumb *ngIf="userInstanceProject">
        <nz-breadcrumb-item>
          <a routerLink="/options/index">首页</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          基础配置
        </nz-breadcrumb-item>
      </nz-breadcrumb>
</page-header>

 

<form [formGroup]="form" nz-form (ngSubmit)="submit()" >
<nz-card style="width:100%;" nzTitle="项目名称">
    <nz-form-item >


        <nz-form-label nzRequired [nzSpan]="2" nzFor="proj_name">项目名称</nz-form-label>
        <nz-form-control [nzSpan]="10">
          <input nz-input   formControlName="proj_name" type="text" id="proj_name"  >
          <nz-form-explain *ngIf="proj_name.dirty && proj_name.errors">请输入项目名称且至少三个字符！</nz-form-explain>
        </nz-form-control>
        
        
      </nz-form-item >
  </nz-card>
  <nz-card *ngIf="userLoginCard" style="width:100%;" nzTitle="用户登陆页">
    <nz-form-item>
        <nz-form-label  [nzSpan]="2" nzFor="proj_loading_logo">加载logo</nz-form-label>
        <nz-form-control [nzSpan]="10">
        <nz-upload id="proj_loading_logo"
      nzAction="http://szcyerp.com/SUCUCloudBlock/v1/photoUpload"
      nzListType="picture-card"
      [(nzFileList)]="loadlingFileList"
      nzSize="200"
      [nzShowButton]="loadlingFileList.length < 1"
      [nzPreview]="handlePreview">
        <i class="anticon anticon-plus"></i>
        <div class="ant-upload-text">上传图片</div>
    </nz-upload>
    <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
      <ng-template #modalContent>
        <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
      </ng-template>
    </nz-modal>
</nz-form-control>
<nz-form-label  [nzSpan]="2" nzFor="proj_bg_img">背景效果</nz-form-label>
        <nz-form-control [nzSpan]="10">
        <nz-upload id="proj_bg_img"
      nzAction="http://szcyerp.com/SUCUCloudBlock/v1/photoUpload"
      nzListType="picture-card"
      [(nzFileList)]="backgroundFileList"
      nzSize="2048"
      [nzShowButton]="backgroundFileList.length < 1"
      [nzPreview]="handlePreview">
        <i class="anticon anticon-plus"></i>
        <div class="ant-upload-text">上传图片</div>
    </nz-upload>
    <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
      <ng-template #modalContent>
        <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
      </ng-template>
    </nz-modal>
</nz-form-control>
      </nz-form-item >    
  </nz-card>
  <nz-card *ngIf="userIndexCard" style="width:100%;" nzTitle="用户首页">
    <nz-form-item>
        <nz-form-label  [nzSpan]="2" nzFor="proj_login_logo">登陆logo</nz-form-label>
        <nz-form-control [nzSpan]="10">
            <nz-upload id="proj_login_logo"
            nzAction="http://szcyerp.com/SUCUCloudBlock/v1/photoUpload"
            nzListType="picture-card"
            [(nzFileList)]="loginFileList"
            nzSize="300"
            [nzShowButton]="loginFileList.length < 1"
            [nzPreview]="handlePreview">
              <i class="anticon anticon-plus"></i>
              <div class="ant-upload-text">上传图片</div>
          </nz-upload>
          <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
            <ng-template #modalContent>
              <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
            </ng-template>
          </nz-modal>
        </nz-form-control>
      </nz-form-item >
      <nz-form-item>
        <nz-form-label  [nzSpan]="2" nzFor="proj_logo_bgcolor">logo背景</nz-form-label>
        <nz-form-control [nzSpan]="5">
          <input nz-input  formControlName="proj_logo_bgcolor" type="color" id="proj_logo_bgcolor"> 
        </nz-form-control>
        <nz-form-control [nzSpan]="5"> 
        </nz-form-control>
 
        <nz-form-label  [nzSpan]="2" nzFor="proj_top_bgcolor">顶部背景</nz-form-label>
        <nz-form-control [nzSpan]="5">
          <input nz-input name="proj_top_bgcolor" formControlName="proj_top_bgcolor"  type="color" id="proj_top_bgcolor">

        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label  [nzSpan]="2" nzFor="proj_nav_bgcolor">导航背景</nz-form-label>
        <nz-form-control [nzSpan]="5">
          <input nz-input name="proj_nav_bgcolor" formControlName="proj_nav_bgcolor"  type="color" id="proj_nav_bgcolor">
        </nz-form-control>
        <nz-form-control [nzSpan]="5"> 
        </nz-form-control>
        <nz-form-label  [nzSpan]="2" nzFor="proj_sus_bgcolor">悬浮背景</nz-form-label>
        <nz-form-control [nzSpan]="5">
          <input nz-input name="proj_sus_bgcolor" formControlName="proj_sus_bgcolor"  type="color" id="proj_sus_bgcolor">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label  [nzSpan]="2" nzFor="proj_mainmenu_bgcolor">主菜单背景</nz-form-label>
        <nz-form-control [nzSpan]="5">
          <input nz-input name="proj_mainmenu_bgcolor" formControlName="proj_mainmenu_bgcolor"  type="color" id="proj_mainmenu_bgcolor">
        </nz-form-control>
        <nz-form-control [nzSpan]="5"> 
        </nz-form-control>
        <nz-form-label  [nzSpan]="2" nzFor="proj_submenu_bgcolor">子菜单背景</nz-form-label>
        <nz-form-control [nzSpan]="5">
          <input nz-input name="proj_submenu_bgcolor" formControlName="proj_submenu_bgcolor"  type="color" id="proj_submenu_bgcolor">
        </nz-form-control>
      </nz-form-item>
  </nz-card>
  <nz-card *ngIf="userServerCard" style="width:100%;" nzTitle="绑定地址">
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="2" nzFor="database_address">数据库地址</nz-form-label>
        <nz-form-control [nzSpan]="10">
            <nz-input-group nzAddOnBefore="Http://" >
                <input nz-input type="text" formControlName="database_address" id="database_address">
              </nz-input-group>
              <nz-form-explain *ngIf="database_address.dirty && database_address.errors">请输入项目名称且至少五个字符！</nz-form-explain>
        </nz-form-control>
        <nz-form-label nzRequired [nzSpan]="2" nzFor="server_address">服务器地址</nz-form-label>
        <nz-form-control [nzSpan]="10">
            <nz-input-group nzAddOnBefore="Http://" >
                <input type="text" name="server_address" formControlName="server_address" nz-input id="server_address">
              </nz-input-group>
              <nz-form-explain *ngIf="server_address.dirty && server_address.errors">请输入项目名称且至少五个字符！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="2" nzFor="database_account">数据库账号</nz-form-label>
        <nz-form-control [nzSpan]="10">
          <input nz-input name="database_account" formControlName="database_account" type="text" id="database_account">
          <nz-form-explain *ngIf="database_account.dirty && database_account.errors">请输入项目名称且至少四个字符！</nz-form-explain>
        </nz-form-control>
        <nz-form-label nzRequired [nzSpan]="2" nzFor="server_account">服务器账号</nz-form-label>
        <nz-form-control [nzSpan]="10">
          <input nz-input name="server_account" formControlName="server_account" type="text" id="server_account">
          <nz-form-explain *ngIf="server_account.dirty && server_account.errors">请输入项目名称且至少五个字符！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="2" nzFor="database_password">数据库密码</nz-form-label>
        <nz-form-control [nzSpan]="10">
          <input nz-input name="database_password" formControlName="database_password" type="text" id="database_password">
          <nz-form-explain *ngIf="database_password.dirty && database_password.errors">请输入项目名称且至少四个字符！</nz-form-explain>
        </nz-form-control>
        <nz-form-label nzRequired [nzSpan]="2" nzFor="server_password">服务器密码</nz-form-label>
        <nz-form-control [nzSpan]="10">
          <input nz-input name="server_password" formControlName="server_password" type="text" id="server_password">
          <nz-form-explain *ngIf="server_password.dirty && server_password.errors">请输入项目名称且至少五个字符！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="2" nzFor="server_domainName">域名</nz-form-label>
        <nz-form-control [nzSpan]="10">
          <input nz-input name="server_domainName" formControlName="server_domainName" type="text" id="server_domainName">
          <nz-form-explain *ngIf="server_domainName.dirty && server_domainName.errors">请输入项目名称且至少五个字符！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
  </nz-card>
  <footer-toolbar errorCollect>
    <button nz-button type="submit" [nzType]="'primary'">提交</button>
 
</footer-toolbar>
</form>