<div>
    <ul>
        <li class="title">
            <label nz-checkbox [(ngModel)]="allchecked" (click)="getallchecked($event)">{{title}}</label>
        </li>
        <li *ngFor="let list of dataSource; let i=index" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">
            <label class="hovercolor" nz-checkbox [(ngModel)]="list.checked" (click)="itemischecked($event,list.checked,list.value,i)">{{list.label}}</label>
            <i style="display:none;" [ngClass]="list.eyeshow ? 'anticon anticon-eye-o' : 'anticon anticon-eye'" (click)="changeeyes($event,list,i)"></i>
            <i class="anticon anticon-setting" style="display:none;" (click)="edit(list,i)"></i>
        </li>
    </ul>
</div>