<nz-layout>
<nz-header>
    <nz-breadcrumb [nzSeparator]="iconTemplate" style="position: absolute;margin-top: 10px;">
        <nz-breadcrumb-item>
          <a style="color:white" routerLink="/options/index">首页</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <span style="color:white">快速搭建</span>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <div *ngIf="settestService.isAbleEdit"> 
       <button class="align-right" nz-button nzType="default" nzSize="small" (click)="onPreview()">预览</button>
      <button class="align-right" nz-button nzType="default" nzSize="small" (click)="this.settestService.onShencheng()" [disabled]="this.settestService.isOk" [nzLoading]="this.settestService.isOk">生成</button>
      <button class="align-right" nz-button nzType="default" nzSize="small" (click)="onSaveClick()">保存</button>
      </div>
       
</nz-header>
<ng-template #iconTemplate><i style="color:white;">/</i></ng-template>
<app-drag-options></app-drag-options>
</nz-layout>