<div class="alain-default__aside-inner">
  <nz-dropdown nzTrigger="click" class="alain-default__aside-user">
    <div nz-dropdown class="user-block-dropdown">
      <nz-avatar class="alain-default__aside-user-avatar" nzSize="large" [nzText]="userService.getCurrentUser().cySysBaseUserRealname" style="background-color:#87d068;"></nz-avatar>
      <div class="alain-default__aside-user-info" style="color:#fff">
        <strong style="color:#fff">{{userService.getCurrentUser().cySysBaseUserUsername}} </strong>
        <p class="text-truncate mb0">{{userService.getCurrentUser().cySysBaseUserMeno}} </p>
      </div>
    </div>
    <ul nz-menu>
      <li nz-menu-item routerLink="/pro/account/center">{{ 'menu.account.center' | translate }}</li>
      <li nz-menu-item routerLink="/pro/account/settings">{{ 'menu.account.settings' | translate }}</li>
    </ul>
  </nz-dropdown>
  <sidebar-nav class="d-block py-lg"></sidebar-nav>
</div>
