<div class="content__title">
    <h1>测试ag-grid重量级表格</h1>
</div>
<app-sucu01-data0010002></app-sucu01-data0010002>
<desc-list size="large" title="ag-grid表格说明" layout="vertical">
    <desc-list-item term="具体功能">
      固定表头，固定列，显示/隐藏段列，表头拖动，调整列宽，列段过滤，列段搜索，列段分组，数值聚合，枢轴模式,表格右击，
      复制，导出Excel，计算
    </desc-list-item>
  </desc-list>
  <desc-list size="large" title="ag-grid表格操作举例" layout="vertical">
    <desc-list-item term="枢轴模式举例操作">
        1、打开工具面板，将国家字段拖动到分组内，或者直接在列头上将国家列分组。
        <br>
        2、点击列头，将分组的列进行左固定。这里可以展开分组看到数据。
        <br>
        3、将工具面板中的金牌列拖动到数值内进行聚合，这样就显示了，每个国家对应的金牌总数。
        <br>
        4、然后将和(金牌)列同样固定到左边,可直接拖动固定至左侧。
        <br>
        5、在右侧工具面板中的数值区域内，可以点击字段进行统计，如和、平均数、最大和最小值。
        <br>
        6、然后我们点击工具面板上的枢轴模式。
        <br>
        7、将年份字段拖进枢轴区域内，这样就显示了每个国家每一年的金牌总数。
      </desc-list-item>
  </desc-list>
  <desc-list size="large" title="ag-grid表格操作举例" layout="vertical">
    <desc-list-item term="excel操作">
        按住键盘ctrl 鼠标选择列区域。
      </desc-list-item>
  </desc-list>
