<page-header>
  <h3>新建项目</h3>
</page-header>
<nz-card class="nzcardstyle" nzTitle="积木生产">
  <div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" class="mb-md">
      <a routerLink="/fullscreen/pageDrag" nz-row nzType="flex" nzAlign="middle" class="border text-center rounded-md moku">
        <div nz-col nzSpan="10" class="p-md">
          <i class="anticon anticon-form isize60"></i>
        </div>
        <div nz-col nzSpan="14" class="py-md">
          <h4>快速搭建</h4>
        </div>
      </a>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" class="mb-md">
      <a routerLink="/options/baseOptions/1/0" nz-row nzType="flex" nzAlign="middle" class="border text-center rounded-md moku">
        <div nz-col nzSpan="10" class="p-md">
          <i class="anticon anticon-hdd isize60"></i>
        </div>
        <div nz-col nzSpan="14" class="py-md">
          <h4>基础配置</h4>
        </div>
      </a>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" class="mb-md">
      <a routerLink="/fullscreen/pageDrag" nz-row nzType="flex" nzAlign="middle" class="border text-center rounded-md moku">
        <div nz-col nzSpan="10" class="p-md">
          <i class="anticon anticon-cloud-upload-o isize60"></i>
        </div>
        <div nz-col nzSpan="14" class="py-md">
          <h4>待发布<span class="text-gold ml-sm display-2">99</span></h4>
        </div>
      </a>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" class="mb-md">
      <a routerLink="/fullscreen/pageDrag" nz-row nzType="flex" nzAlign="middle" class="border text-center rounded-md moku">
        <div nz-col nzSpan="10" class="p-md">
          <i class="anticon anticon-cloud-o isize60"></i>
        </div>
        <div nz-col nzSpan="14" class="py-md">
          <h4>已发布<span class="text-green ml-sm display-2">99</span></h4>
        </div>
      </a>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" class="mb-md">
      <a routerLink="/fullscreen/pageDrag" nz-row nzType="flex" nzAlign="middle" class="border text-center rounded-md moku">
        <div nz-col nzSpan="10" class="p-md">
          <i class="anticon anticon-appstore-o isize60"></i>
        </div>
        <div nz-col nzSpan="14" class="py-md">
            <h4>主题配置</h4>
        </div>
      </a>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" class="mb-md">
      <a routerLink="/fullscreen/pageDrag" nz-row nzType="flex" nzAlign="middle" class="border text-center rounded-md moku">
        <div nz-col nzSpan="10" class="p-md">
          <i class="anticon anticon-profile isize60"></i>
        </div>
        <div nz-col nzSpan="14" class="py-md">
            <h4>发布日志</h4>
        </div>
      </a>
    </div>
  </div>
</nz-card>
<nz-card class="nzcardstyle" nzTitle="项目文档">
  <div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" class="mb-md">
      <a routerLink="/fullscreen/pageDrag" nz-row nzType="flex" nzAlign="middle" class="border text-center rounded-md moku">
        <div nz-col nzSpan="10" class="p-md">
          <i class="anticon anticon-api isize60"></i>
        </div>
        <div nz-col nzSpan="14" class="py-md">
            <h4>操作百科</h4>
        </div>
      </a>
    </div>
  </div>
</nz-card>