<div nz-row>
    <div nz-col nzSpan="24">
    <ag-grid-angular #agGrid style="width: 100%; height: 500px;" class="ag-theme-balham" (gridReady)="onGridReady($event)" 
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [enableFilter]="true"
    [enableSorting]="true"
     [pagination]="true"
     [enableStatusBar]="true"
     [alwaysShowStatusBar]="false"
     [enableRangeSelection]="true"
     [enableColResize]="true"
    [paginationAutoPageSize]="false"
    [paginationPageSize]="50"
    [animateRows]="true"
    [pivotMode]="false"
    [localeText]="localeText">
    </ag-grid-angular>
    </div>
    <!-- <div nz-col nzSpan="12">
    </div> -->
</div>

