<ng-template #operationsA let-index let-operation="operation">
  <!-- 判断类别 -->
  <ng-container [ngSwitch]="operation.type">
    <!-- 编辑单行 -->
    <ng-container *ngSwitchCase="'编辑-单行'">
      <a *ngIf="!isRowEdit[index];else elseRowEditBlock" [style.color]="operation.color" (click)="operationClick(operation.type,index)">{{operation.name}}</a>
      <ng-template #elseRowEditBlock>
        <a (click)="saveEdit(index)" style="margin-right: 8px;">Save</a>
        <nz-popconfirm [nzTitle]="'Sure to cancel?'" (nzOnConfirm)="cancelEdit(index)">
          <a nz-popconfirm>Cancel</a>
        </nz-popconfirm>
      </ng-template>
    </ng-container>
    <ng-container *ngSwitchCase="'删除'">
      <nz-popconfirm [nzTitle]="'肯定要'+operation.name+'?'" (nzOnConfirm)="operationClick(operation.type,index)">
        <a nz-popconfirm [style.color]="operation.color">{{operation.name}}</a>
      </nz-popconfirm>
    </ng-container>
    <!-- 其它类别 -->
    <ng-container *ngSwitchDefault>
      <a [style.color]="operation.color" (click)="operationClick(operation.type,index,operation.page)">{{operation.name}}</a>
    </ng-container>

  </ng-container>
  <!-- 判断类别end-->
</ng-template>
<ng-template #operationsTd let-index let-data="data">
  <ng-container *ngIf="data.length>0">
    <td [ngStyle]="{'text-align':'center'}">
      <!-- 遍历操作组 -->
      <ng-container *ngFor="let operation of data;let i = index">
        <ng-container *ngTemplateOutlet="operationsA;context:{$implicit: index, operation: operation}"></ng-container>

        <nz-divider *ngIf="i<data.length-1" nzType="vertical"></nz-divider>
        <!-- 遍历操作组end -->
      </ng-container>
      <!-- more -->
      <nz-divider *ngIf="moreOperations.length>0" nzType="vertical"></nz-divider>
      <nz-dropdown *ngIf="moreOperations.length>0">
        <a nz-dropdown>
          more
          <i class="anticon anticon-down"></i>
        </a>
        <ul nz-menu nzSelectable>

          <li *ngFor="let operation of moreOperations" nz-menu-item>
            <ng-container *ngTemplateOutlet="operationsA;context:{$implicit: index, operation: operation}"></ng-container>
          </li>

        </ul>
      </nz-dropdown>
    </td>
  </ng-container>
</ng-template>
<nz-table #groupingTable nzShowSizeChanger [nzTitle]="this.sets['tableStyle']['nzTitle']" [nzShowPagination]="this.sets['tableStyle']['nzShowPagination']"
  [nzShowQuickJumper]="this.sets['tableStyle']['nzShowQuickJumper']" [nzFrontPagination]="false" [nzData]="displayData" [nzTotal]="nzTotal"
  [nzBordered]="this.sets['tableStyle']['nzBordered']" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="this.sets['tableStyle']['nzPageSize']"
  (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" [nzPageSizeOptions]="this.sets['tableStyle']['pageSizeOptions']"
  [nzLoading]="this.loading" [nzSize]="this.sets['tableStyle']['nzSize']" [nzScroll]="this.sets['tableStyle']['nzScroll']==true?{ y: '400px' }:null">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr style="height: 60px;">

      <th *ngIf="this.sets['tableStyle']['nzShowCheckbox']==true" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="checkAll($event)" nzWidth="50px"></th>
      <ng-container *ngIf="this.sets['tableStyle']['operationsPosition']=='front'">
        <ng-container *ngTemplateOutlet="operations"></ng-container>
        <ng-template #operations>
          <ng-container *ngIf="this.sets['tableStyle']['operationsGroup'].length>0">
            <th [ngStyle]="{'text-align':'center'}" [nzWidth]="this.sets['tableStyle']['operationWidth']+'px'">操作</th>
          </ng-container>
        </ng-template>
      </ng-container>

      <ng-container *ngFor="let cdata of this.sets['tableData']['showColumn']">
        <th [ngStyle]="{'text-align':this.sets['tableData']['ColumnDate'][cdata]['alignType']}" [nzWidth]="this.sets['tableData']['ColumnDate'][cdata]['width']+'px'"
          [nzShowSort]="this.sets['tableData']['ColumnDate'][cdata]['isSort']" [nzSortKey]="cdata" [nzShowFilter]="this.sets['tableData']['ColumnDate'][cdata]['isFilter']"
          [nzFilters]="groupResult[cdata]" (nzFilterChange)="filter(cdata,$event)">
          {{this.sets['tableData']['ColumnDate'][cdata]['Relname']}}
        </th>
      </ng-container>
      <ng-container *ngIf="this.sets['tableStyle']['operationsPosition']=='back'">
        <ng-container *ngTemplateOutlet="operations"></ng-container>
        <ng-template #operations>
          <ng-container *ngIf="this.sets['tableStyle']['operationsGroup'].length>0">
            <th [ngStyle]="{'text-align':'center'}" [nzWidth]="this.sets['tableStyle']['operationWidth']+'px'">操作</th>
          </ng-container>
        </ng-template>
      </ng-container>

    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let trdata of groupingTable.data index as i;">
      <!-- 可选框 -->
      <td *ngIf="this.sets['tableStyle']['nzShowCheckbox']==true" nzShowCheckbox [(nzChecked)]="trdata.checked" [nzDisabled]="trdata.disabled"
        (nzCheckedChange)="refreshStatus($event)"></td>
      <!-- 操作组 -->
      <ng-container *ngIf="this.sets['tableStyle']['operationsPosition']=='front'">
        <ng-container *ngTemplateOutlet="operationsTd;context:{$implicit: i, data: myContext}"></ng-container>
      </ng-container>

      <ng-container *ngFor="let cdata of this.sets['tableData']['showColumn']">

        <td [ngStyle]="{'text-align':this.sets['tableData']['ColumnDate'][cdata]['alignType']}" [style.color]="textstyle(cdata,i)">
          <div class="editable-cell">
            <div class="editable-cell-text-wrapper">
              <ng-container *ngIf="(!isEdit[i+'-'+cdata]&&!isRowEdit[i])||this.sets['tableData']['ColumnDate'][cdata]['attribute']!='0'; else elseBlock">
                <!-- switch -->
                <ng-container [ngSwitch]="sets['tableData']['ColumnDate'][cdata]['type']">
                  <ng-container *ngSwitchCase="'image'">
                    <!-- <img class="logo" src="'/src/assets/{{trdata[cdata]}}'"> -->
                    <img class="logo" [src]="'https://www.baidu.com/img/bd_logo1.png'" [width]="sets['tableData']['ColumnDate'][cdata]['format']=='large'?'200':sets['tableData']['ColumnDate'][cdata]['format']=='middle'?'100':'50'">
                  </ng-container>
                  <ng-container *ngSwitchCase="'date'">
                    {{trdata[cdata] | general:'date':this.sets['tableData']['ColumnDate'][cdata]['format']}}
                  </ng-container>
                  <ng-container *ngSwitchCase="'numerical'">
                    {{trdata[cdata] | general:'numerical':this.sets['tableData']['ColumnDate'][cdata]['format']}}
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <ng-container *ngIf="columnStatu[i+'-'+cdata]">
                      <nz-badge [nzStatus]="columnStatu[i+'-'+cdata]"></nz-badge>
                    </ng-container>
                    {{trdata[cdata]}}
                  </ng-container>
                </ng-container>
                <!-- switch-end -->
                <!-- 可编辑 -->
                <ng-container *ngIf="sets['tableData']['ColumnDate'][cdata]['isEdit']">
                  <i class="anticon anticon-edit editable-cell-icon" (click)="startEdit(cdata,i)"></i>
                </ng-container>
                <!-- 可编辑end -->
              </ng-container>
              <ng-template #elseBlock>
                <nz-spin [nzSpinning]="isSpinning">
                  <input type="text" nz-input [(ngModel)]="displayData[i][cdata]">
                  <ng-container *ngIf="isEdit[i+'-'+cdata]">
                    <i class="anticon anticon-check editable-cell-icon-check" (click)="finishEdit(cdata,i)"></i>
                  </ng-container>
                </nz-spin>
              </ng-template>

            </div>
          </div>
        </td>

      </ng-container>
      <ng-container *ngIf="this.sets['tableStyle']['operationsPosition']=='back'">
        <ng-container *ngTemplateOutlet="operationsTd;context:{$implicit: i, data: myContext}"></ng-container>
      </ng-container>
    </tr>
    <tr *ngIf="isNeedFooter" bgcolor="#BDBDBD">
      <!-- 可选框 -->
      <td *ngIf="this.sets['tableStyle']['nzShowCheckbox']==true" >
          {{footer['sucuCheckBox']}}
      </td>
      <!-- 操作组 -->
      <ng-container *ngIf="this.sets['tableStyle']['operationsPosition']=='front' &&this.sets['tableStyle']['operationsGroup'].length>0">
        <td>
            {{footer['sucuOperations']}}
        </td>
      </ng-container>
      <ng-container *ngFor="let cdata of this.sets['tableData']['showColumn']">
          <td [ngStyle]="{'text-align':this.sets['tableData']['ColumnDate'][cdata]['alignType']}">
            <!-- switch -->
            <ng-container [ngSwitch]="sets['tableData']['ColumnDate'][cdata]['type']">
                <ng-container *ngSwitchCase="'numerical'">
                    <ng-container *ngIf="this.alreadySet">
                        {{footer[cdata]}}
                    </ng-container>
                    <ng-container *ngIf="this.alreadySet==false">
                        {{footer[cdata] | general:'numerical':this.sets['tableData']['ColumnDate'][cdata]['format']}}
                    </ng-container>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{footer[cdata]}}
                </ng-container>
              </ng-container>
              <!-- switch-end -->  
            </td>
      </ng-container>
      <ng-container *ngIf="this.sets['tableStyle']['operationsPosition']=='back' && this.sets['tableStyle']['operationsGroup'].length>0">
        <td>
          123
        </td>
      </ng-container>
    </tr>
  </tbody>
</nz-table>