<form [formGroup]="weiget_options">
    <nz-tabset>
        <nz-tab nzTitle="数据">
            <nz-form-item>
                <nz-form-label [nzSpan]="8" nzOffset="1" nzFor="">表单数据表</nz-form-label>
                <nz-form-control [nzSpan]="12" nzOffset="2">
                    <nz-select formControlName="weiget_datatables" style="width: 100%" [(ngModel)]="multipleValue" [nzSize]="size" nzMode="multiple" nzPlaceHolder="Please select">
                        <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                      </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="8" nzOffset="1" nzFor="">绑定字段</nz-form-label>
                <nz-form-control [nzSpan]="12" nzOffset="2">
                    <nz-select formControlName="weiget_bingcolumns" [(ngModel)]="singleValue" [nzSize]="size">
                        <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                      </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSpan]="12" nzOffset="8">
                    <button nz-button [nzSize]="small" nzType="primary" (click)="onClickNext()">下一步</button>
                </nz-form-control>
            </nz-form-item>
        </nz-tab>
        <nz-tab nzTitle="操作">
            <nz-form-item>
                        <div nz-row>
                          <div nz-col nzSpan="24"><label nz-checkbox nzValue="A" [ngModel]="true">必选</label></div>
                    </div>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="8" nzOffset="1" nzFor="">日期格式</nz-form-label>
                <nz-form-control [nzSpan]="12" nzOffset="2">
                    <nz-select formControlName="weiget_dateformat" [(ngModel)]="singleValue" [nzSize]="size">
                        <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                      </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="8" nzOffset="1" nzFor="button_name">最早日期</nz-form-label>
                <nz-form-control [nzSpan]="12" nzOffset="1">
                    <input nz-input formControlName="weiget_earlydate" type="text" >
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="8" nzOffset="1" nzFor="button_name">最晚日期</nz-form-label>
                <nz-form-control [nzSpan]="12" nzOffset="1">
                    <input nz-input formControlName="weiget_lastestdate" type="text" >
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                    <div nz-row>
                <nz-form-label [nzSpan]="24" nzOffset="1" nzFor="">默认时间段</nz-form-label>
                </div>
                
                <nz-form-control [nzSpan]="24" nzOffset="1">
                        <div nz-row>
                    之前
                    <nz-input-number style="width:60px;" formControlName="weiget_datenumber" [(ngModel)]="demoValue" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
                
                        <nz-select style="width:100px;" class="ml-md" formControlName="weiget_datetype" [(ngModel)]="singleValue" [nzSize]="size">
                                <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                              </nz-select>
                            </div>
                </nz-form-control>
            
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSpan]="12" nzOffset="8">
                    <button nz-button [nzSize]="small" nzType="primary" (click)="onClic()">确认</button>
                </nz-form-control>
            </nz-form-item>
        </nz-tab>
        <nz-tab nzTitle="样式">
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="8" nzOffset="1" nzFor="button_name">文本标题</nz-form-label>
                <nz-form-control [nzSpan]="12" nzOffset="1">
                    <input nz-input formControlName="weiget_texttitle" type="text" >
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="8" nzOffset="1" nzFor="button_name">文字颜色</nz-form-label>
                <nz-form-control [nzSpan]="12" nzOffset="1">
                    <input nz-input formControlName="weiget_textcolor" type="text" >
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="8" nzOffset="1" nzFor="">位置</nz-form-label>
                <nz-form-control [nzSpan]="12" nzOffset="2">
                    <nz-select formControlName="weiget_position" [(ngModel)]="singleValue" [nzSize]="size">
                        <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                      </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="button_size">大小</nz-form-label>
                <nz-form-control [nzSpan]="14" nzOffset="4">
                    <nz-radio-group formControlName="weiget_inputsize" 
                    (ngModelChange)="autoSetValue('nzSize',$event,'间距：')" 
                    [nzSize]="'small'">
                        <label nz-radio-button nzValue="default">默认</label>
                        <label nz-radio-button nzValue="large">大</label>
                        <label nz-radio-button nzValue="small">小</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSpan]="12" nzOffset="8">
                    <button nz-button [nzSize]="small" nzType="primary" (click)="onClic()">确认</button>
                </nz-form-control>
            </nz-form-item>

        </nz-tab>
    </nz-tabset>
</form>
