<form [formGroup]="button_options">
    <nz-tabset>
        <nz-tab nzTitle="数据">
            <nz-form-item>
                <nz-form-label [nzSpan]="8" nzOffset="1" nzFor="">积木数据表</nz-form-label>
                <nz-form-control [nzSpan]="12" nzOffset="2">
                    <nz-select formControlName="table_name" [nzSize]="small" nzShowSearch nzPlaceHolder="Select a table" [(ngModel)]="this.settestService.blocksort[this.settestService.rightid].sets['style']['table']">
                        <nz-option *ngFor="let option of this.settestService.linkInfo['table']" [nzLabel]="option.name" [nzValue]="option.value">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSpan]="12" nzOffset="8">
                    <button nz-button [nzSize]="small" nzType="primary" (click)="onClickNext()">下一步</button>
                </nz-form-control>
            </nz-form-item>
        </nz-tab>
        <nz-tab nzTitle="操作">
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="8" nzOffset="1" nzFor="button_name">按钮名称</nz-form-label>
                <nz-form-control [nzSpan]="12" nzOffset="1">
                    <input nz-input formControlName="button_name" type="text" [(ngModel)]="this.settestService.blocksort[this.settestService.rightid].sets['style']['text']"
                        id="button_name">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="8" nzOffset="1" nzFor="">操作方式</nz-form-label>
                <nz-form-control [nzSpan]="12" nzOffset="1">
                    <nz-select formControlName="button_operatetype" [nzSize]="small" nzShowSearch nzAllowClear nzPlaceHolder="Select a table"
                        [(ngModel)]="this.settestService.blocksort[this.settestService.rightid].sets['style']['operateType']">
                        <nz-option nzLabel="关闭返回" nzValue="close"></nz-option>
                        <nz-option nzLabel="留在原页" nzValue="return"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSpan]="12" nzOffset="8">
                    <button nz-button [nzSize]="small" nzType="primary" (click)="onClick()">确认</button>
                </nz-form-control>
            </nz-form-item>
        </nz-tab>
        <nz-tab nzTitle="样式">
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="8" nzOffset="1" nzFor="button_bgcolor">背景颜色</nz-form-label>
                <nz-form-control [nzSpan]="12" nzOffset="1">
                    <input nz-input formControlName="button_bgcolor" type="text" [(ngModel)]="this.settestService.blocksort[this.settestService.rightid].sets['style']['color']">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzOffset="1" nzFor="button_size">按钮大小</nz-form-label>
                <nz-form-control [nzSpan]="14" nzOffset="4">
                    <nz-radio-group formControlName="button_size" (ngModelChange)="autoSetValue('nzSize',$event,'间距：')" [nzSize]="'small'">
                        <label nz-radio-button nzValue="default">默认</label>
                        <label nz-radio-button nzValue="large">大</label>
                        <label nz-radio-button nzValue="small">小</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSpan]="12" nzOffset="8">
                    <button nz-button [nzSize]="small" nzType="primary" (click)="onClick()">确认</button>
                </nz-form-control>
            </nz-form-item>

        </nz-tab>
    </nz-tabset>
</form>